/* About page fixes */
.container.main-wrapper { max-width: none !important; margin-bottom: 0 !important; }
.global-wrapper .shopify-section:last-of-type .section { margin-bottom: 0 !important; }
.one-whole.column > div[style*="margin"] { max-width: 1760px !important; width: 92% !important; }
.one-whole.column p { font-family: 'Acumin Pro', 'Acumin Pro Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif !important; font-size: 28px !important; }
.page .shopify-section--footer { margin-top: 0 !important; padding-top: 0 !important; }
